.cityInfo {
  text-align: center;
  padding: 25px;
}
.cityInfo_labelBlock {
  margin-bottom: 15px;
  font-size: 18px;
}
.cityInfo form input {
  padding: 7px;
  font-size: 14px;
}
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  display: none;
  margin-top: 15px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
